OPENAI_API_KEY=your-api-key

OPENAI_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
OPENAI_API_BASE="https://dashscope.aliyuncs.com/compatible-mode/v1"

# chat model
OPENAI_MODEL_NAME=qwen-turbo

# embeddings model
EMBEDDINGS_OPENAI_MODEL_NAME=text-embedding-v3

SERPER_API_KEY=your-api-key
SERPER_BASE_URL=https://qianfan.baidubce.com/v2/ai_search/web_search
